.Game {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: lightcyan;
}

.WouldRather {
    margin: 50px auto;
    margin-bottom: 48px;
    text-align: center;
    color: darkmagenta;
    width: 400px;
}

.Instructions {
    margin: 10px auto;
    text-align: center;
    color: blue;
    width: 250px;
}
.RoomCode {
    font-size: larger;
    font-weight: bold;
    color: darkviolet;
    margin: 10px;
}
